{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script type="text/javascript">
    var $ = django.jQuery;
    $(document).ready(function(){
            $.get("/get_code/",function(ret){
                var $img = $("#code_image");
                var $loader = $(document.getElementById('verify_code'));
                $img.attr('src','data:image/png;base64,' + ret  )
                if($img.complete){
                    $loader.trigger('load');
                    }
                })
            });
    $(document).ready(function(){
        $("#refresh").click(function(){
            var $img = $("#code_image");
            $.get("/get_code/",function(ret){
                var $loader = $(document.getElementById('verify_code'));
                $img.attr('src','data:image/png;base64,' + ret  )
                if($img.complete){
                    $loader.trigger('load');
                    }
                })
            });
        $("#code_image").click(function(){
            var $img = $("#code_image");
            $.get("/get_code/",function(ret){
                var $loader = $(document.getElementById('verify_code'));
                $img.attr('src','data:image/png;base64,' + ret  )
                if($img.complete){
                    $loader.trigger('load');
                    }
                })
            });
            
        });

</script>

{% endblock %}

{% block content %}

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% block notify  %}
    <!---You are authenticated as  username , but are not authorized to
    access this page. Would you like to login to a different account?
    -->
    {% if not request.user.is_staff or not request.user.is_active  %}
      {% if not form.username.errors and not form.password.errors and not form.captcha.errors %}
        本帐户还没有注册或者没有审核激活，请电话联系我们的客户人员，谢谢！
        {% endif %}
    {% else %}
    本帐户已经登录了,浏览器没有自动跳转，请手动点击 <a href='/'> **返回主页**</a>

    {% endif %}
{% endblock %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="form-row" id="verify_code" >
    {{ form.captcha.errors }}
    {{ form.captcha.label_tag }} {{ form.captcha}}
              <img title=刷新验证码 id="code_image" src=""/> <a id="refresh" href="#" >看不清，换一张</a>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="login-row">
      <input type="submit" class='login-btn' value="登录" />
  <div>
    <div  class='buttom-row'>
        <a href='/password_reset/' >找回密码</a>
        <a href='/register/' >注册</a>
    </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
