{% extends "admin/login.html" %}
{% block title %} 用户注册 {% endblock %}
{% block branding %}

<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('注册') }}</a></h1>
{% endblock %}
{% block content %}

<script >
    var $ = django.jQuery;
    $(document).ready(function(){
            $.get("/get_code/",function(ret){
                var $img = $("#code_image");
                var $loader = $(document.getElementById('verify_code'));
                $img.attr('src','data:image/png;base64,' + ret  )
                if($img.complete){
                    $loader.trigger('load');
                    }
                })
            });
        
    

    $(document).ready(function(){
        $("#refresh").click(function(){
            var $img = $("#code_image");
            $.get("/get_code/",function(ret){
                var $loader = $(document.getElementById('verify_code'));
                $img.attr('src','data:image/png;base64,' + ret  )
                if($img.complete){
                    $loader.trigger('load');
                    }
                })
            });
        $("#code_image").click(function(){
            var $img = $("#code_image");
            $.get("/get_code/",function(ret){
                var $loader = $(document.getElementById('verify_code'));
                $img.attr('src','data:image/png;base64,' + ret  )
                if($img.complete){
                    $loader.trigger('load');
                    }
                })
            });
            
        });

</script>

<div class="container">
  {% if form.non_field_errors %}
  <div class="messages">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ form.non_field_errors }}
    </div>
  </div>
  {% endif %}
  <div class="register center-block">
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
          <div class="form-group {% if form.UserName.errors %} has-error {% endif %}">
            <label for="">{{ form.UserName.label }}</label>
            {% if form.UserName.errors %}
            <span class="text-danger pull-right">{{ form.UserrNme.errors }}</span>
            {% endif %}
            {{ form.UserName }}
            <p class="help">{{ form.UserName.help_text }}</p>
          </div>
          <div class="form-group {% if form.Email.errors %} has-error {% endif %}">
            <label for="">{{ form.Email.label }}</label>
            {% if form.Email.errors %}
            <span class="text-danger pull-right">{{ form.Email.errors }}</span>
            {% endif %}
            {{ form.Email }}
            <p class="help">{{ form.Email.help_text }}</p>
          </div>
          <div class="form-group {% if form.Password.errors %} has-error {% endif %}">
            <label for="">{{ form.Password.label }}</label>
            {% if form.Password.errors %}
            <span class="text-danger pull-right">{{ form.Password.errors }}</span>
            {% endif %}
            {{ form.Password }}
            <p class="help">{{ form.Password.help_text }}</p>
          </div>
          <div class="form-group {% if form.Confirm_password.errors %} has-error {% endif %}">
            <label for="">{{ form.Confirm_password.label }}</label>
            {% if form.Confirm_password.errors %}
            <span class="text-danger pull-right">{{ form.Confirm_password.errors }}</span>
            {% endif %}
            {{ form.Confirm_password }}
          </div>
          <div class="form-group {% if form.CommpanyName.errors %} has-error {% endif %}">
            <label for="">{{ form.CommpanyName.label }}</label>
            {% if form.CommpanyName.errors %}
            <span class="text-danger pull-right">{{ form.CommpanyName.errors }}</span>
            {% endif %}
            {{ form.CommpanyName }}
            <p class="help">{{ form.CommpanyName.help_text }}</p>
          </div>
          <div class="form-group {% if form.Phone.errors %} has-error {% endif %}">
            <label for="">{{ form.Phone.label }}</label>
            {% if form.Phone.errors %}
            <span class="text-danger pull-right">{{ form.Phone.errors }}</span>
            {% endif %}
            {{ form.Phone }}
            <p class="help">{{ form.Phone.help_text }}</p>
          </div>
          <div class="form-group"  id="verify_code">
              <label >验证码：</label>
              <input name="captcha" maxlength="6" size="6"  type="text" />
              <img title=刷新验证码 id="code_image" src=""/>
              <a id="refresh" href="#" >看不清，换一张</a>
          </div>
          <input name =""  type="submit" class="btn btn-default" value="注册">
          <input name ="login_btn" button type="submit" class="btn btn-login" value="登 录">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
